<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{artista.nombre}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{artista.nombre}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
    <img [src]="artista.fotografia">
    <p align="justify">{{artista.biografia}}</p>
    </ion-card-header>
  </ion-card>
</ion-content>
